<a href="https://colab.research.google.com/github/Oswaldoivann/ElBuenPython/blob/main/More_Code_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Paquetes

## Arrays

In [ ]:
import numpy as np

In [ ]:
#Una funcion con todos los argumentos
def amigos(*compa):
  print('Mi mejor amigo es: ', compa[0:2])

In [ ]:
amigos('Os', 'ma', 'no', 'no')

Mi mejor amigo es:  ('Os', 'ma')

In [ ]:
jugadores = np.array([['ID', 'N_P', 'Nombre', 'Edad', 'Equipo'],
                      [1, 1, 'Oswaldo', 25, 5],
                      [2, 2, 'Manuel', 18, 5],
                      [3, 3, 'Maria', 20, 5],
                      [4, 4, 'Perla', 21, 5],
                      [5, 5, 'Jessica', 22, 5],
                      [6, 6, 'Alejandra', 23, 6],
                      [7, 7, 'x', 26, 6],
                      [8, 8, 'y', 27, 6],
                      [9, 9, 'z', 28, 6],
                      [10, 10, 'u', 29, 6]])

In [ ]:
jugadores

array([['ID', 'N_P', 'Nombre', 'Edad', 'Equipo'],
       ['1', '1', 'Oswaldo', '25', '5'],
       ['2', '2', 'Manuel', '18', '5'],
       ['3', '3', 'Maria', '20', '5'],
       ['4', '4', 'Perla', '21', '5'],
       ['5', '5', 'Jessica', '22', '5'],
       ['6', '6', 'Alejandra', '23', '6'],
       ['7', '7', 'x', '26', '6'],
       ['8', '8', 'y', '27', '6'],
       ['9', '9', 'z', '28', '6'],
       ['10', '10', 'u', '29', '6']], dtype='<U9')

In [ ]:
x = ['os', 'no']

def sala (x):
  print('Hola sala x, Bienvenidos', x )

In [ ]:
sala(x)

Hola sala x, Bienvenidos ['os', 'no']

In [ ]:
def sala ():
  x = str(input('Cual es tu nombre: '))
print('Bienvenido a la sala 3: ', x)

Bienvenido a la sala 3:  ['os', 'no']

## Funciones Lambda

In [ ]:
area_triangulo = lambda base, altura: (base*altura)/2

In [ ]:
cubo = lambda a: (a**3)

In [ ]:
cubo(3)

27

In [ ]:
numeros = [8, 23, 6, 24, 8, 9, 10]

In [ ]:
exponente = list(map(lambda x: x**2, numeros))

In [ ]:
print(exponente)

[64, 529, 36, 576, 64, 81, 100]

In [ ]:
par = list(filter(lambda x: x%2 == 0, numeros))

In [ ]:
print(par)

[8, 6, 24, 8, 10]

In [ ]:
menor = list(filter(lambda x: x < 10, numeros))

In [ ]:
print(menor)

[8, 6, 8, 9]

In [ ]:
#Como hacer una multiplicacion con Lambda
x = lambda a, b: a * b
 print('El resultado es: ', x(5,5))

El resultado es:  25

In [ ]:
#Como hacer una multiplicacion con Lambda
def mult(a):
  return lambda b: a * b

exp = mult(1) #Este es el argumento a

print(exp(6)) #Este es el argumento b

## Numpy

In [ ]:
import numpy as np

In [ ]:
Arreglo_numeros = ([])
print('Cuantos numeros van en el arreglo: ')
Total = int (input())

for Elemento_arreglo in range(Total):
  print('Ingresa un numero: ')
  item = int(input())
  Arreglo_numeros.append(item)
  print(Arreglo_numeros)
  Arreglo_numeros.sort()
  print(Arreglo_numeros)

Cuantos numeros van en el arreglo:
9
Ingresa un numero:
1
[1]
[1]
Ingresa un numero:
2
[1, 2]
[1, 2]
Ingresa un numero:
3
[1, 2, 3]
[1, 2, 3]
Ingresa un numero:
4
[1, 2, 3, 4]
[1, 2, 3, 4]
Ingresa un numero:
5
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
Ingresa un numero:
6
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
Ingresa un numero:
7
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
Ingresa un numero:
8
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
Ingresa un numero:
9
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
Arreglo_numeros = ([])
print('Cuantos numeros van en el arreglo: ')
Total = 9

for Elemento_arreglo in range(Total):
  print('Ingresa un numero: ')
  item = int(input())
  Arreglo_numeros.append(item)
  print(Arreglo_numeros)
  Arreglo_numeros.sort()
  print(Arreglo_numeros)

Cuantos numeros van en el arreglo:
Ingresa un numero:
3
[3]
[3]
Ingresa un numero:
7
[3, 7]
[3, 7]
Ingresa un numero:
5
[3, 7, 5]
[3, 5, 7]
Ingresa un numero:
9
[3, 5, 7, 9]
[3, 5, 7, 9]
Ingresa un numero:
4
[3, 5, 7, 9, 4]
[3, 4, 5, 7, 9]
Ingresa un numero:
7
[3, 4, 5, 7, 9, 7]
[3, 4, 5, 7, 7, 9]
Ingresa un numero:
6
[3, 4, 5, 7, 7, 9, 6]
[3, 4, 5, 6, 7, 7, 9]
Ingresa un numero:
7
[3, 4, 5, 6, 7, 7, 9, 7]
[3, 4, 5, 6, 7, 7, 7, 9]
Ingresa un numero:
5
[3, 4, 5, 6, 7, 7, 7, 9, 5]
[3, 4, 5, 5, 6, 7, 7, 7, 9]

## Pandas

In [3]:
import pandas as pd

### Pandas with Excel

In [ ]:
x = [1,7,2,3,4,6,7,9,5]

Arreglo = pd.Series(x)

In [ ]:
Arreglo

In [ ]:
Arreglo2 = pd.Series(x, index=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H' , 'I'])

In [ ]:
Arreglo2

In [ ]:
data_inicio = ({})
df_null = pd.DataFrame(data_inicio)
df_null.to_excel('Practica.xlsx', index = False)

In [ ]:
writer = pd.ExcelWriter('Practica.xlsx')

data1 = {'id': [1,2,3,4,5,6,7,8,9,10],
         'Precio': [12.65, 10.00, 12.50, 20.10, 35.50, 5.50, 4.30, 8.20, 2.50, 10.0]}

Series1 = pd.DataFrame(data1) 

Series1.to_excel(writer, 'Precios', index = False)

writer.save()
writer.close()

In [ ]:
writer = pd.ExcelWriter('Practica.xlsx')

data2 = {'id': [1,2,3,4,5,6,7,8,9,10],
         'Productos': []}

Series2 = pd.DataFrame(data1) 

Series2.to_excel(writer, 'Productos', index = False)

writer.save()
writer.close()

In [ ]:
leer_datos = pd.read_excel('Practica1.xlsx', 'Precios', index_col=0)

In [ ]:
leer_datos

In [ ]:
leer_datos.head();

In [ ]:
leer_datos.tail()

In [ ]:
leer_datos.describe()

In [ ]:
Equipo = {'Numero Playera': [18, 20, 22, 24, 26, 28],
          'Posicion': [1, 2, 3, 4, 5, 6],
          'Edad': [14, 16, 15, 13, 14, 15]}

In [ ]:
df = pd.DataFrame(Equipo, index= ['Diego', 'Eduardo', 'Yael', 'Fatima', 'Mia', 'Sofia'])

In [ ]:
print(df)

         Numero Playera  Posicion  Edad
Diego                18         1    14
Eduardo              20         2    16
Yael                 22         3    15
Fatima               24         4    13
Mia                  26         5    14
Sofia                28         6    15

In [ ]:
df.loc['Diego']

Numero Playera    18
Posicion           1
Edad              14
Name: Diego, dtype: int64

In [ ]:
df[['Edad', 'Posicion']]

         Edad  Posicion
Diego      14         1
Eduardo    16         2
Yael       15         3
Fatima     13         4
Mia        14         5
Sofia      15         6

### Create Excel

In [4]:
data_inicio = ({})
df_null = pd.DataFrame(data_inicio)
df_null.to_excel('Excel_con_pandas.xlsx', index = False)

In [5]:
writer = pd.ExcelWriter('Excel_con_pandas.xlsx')

data1 = {'id': [1,2,3,4,5,6,7,8,9,10],
         'Precio': [12.65, 10.00, 12.50, 20.10, 35.50, 5.50, 4.30, 8.20, 2.50, 10.0],
         'Categoria': ['Bebida', 'Alimentos', 'Dulceria', 'Lacteos', 'Verduras', 'Ropa', 'Tacos', 'Frutas', 'Electronica', 'Blancos'],
         'Stock': [5,8,4,3,9,6,7,2,10,20],
         'Nombre': ['Agua', 'Sopa', 'Paletas', 'Leche', 'Zanahoria', 'Playera', 'Pastor', 'Manzana', 'Pilas', 'Sabanas']}



data2 = {'id': [1,2,3,4,5,6,7,8,9,10],
         'Precio': [12.65, 15.00, 25.50, 30.10, 75.50, 51.50, 45.30, 8.20, 2550.50, 100.0],
         'Categoria': ['Bebida', 'Alimentos', 'Dulceria', 'Lacteos', 'Verduras', 'Ropa', 'Tacos', 'Frutas', 'Electronica', 'Blancos'],
         'Stock': [3,9,6,7,2,10,20, 8, 9, 10],
         'Nombre': ['Refrescos', 'Verduras', 'Chocolates', 'Quesos', 'Papas', 'Pantalos', 'Suadero', 'Pera', 'Mobile', 'Almohadas']}

 
Series1 = pd.DataFrame(data1) 
Series2 = pd.DataFrame(data2)
Series1.to_excel(writer, 'Productos', index = False)
Series2.to_excel(writer, 'Categorias', index = False)

writer.save()
writer.close()

In [8]:
df = pd.read_excel('Excel_con_pandas.xlsx', index_col=0)

In [12]:
df.shape

(10, 4)

In [16]:
data1 = pd.read_excel('Excel_con_pandas.xlsx', sheet_name = 'Productos')
data1.head()

   id  Precio  Categoria  Stock     Nombre
0   1   12.65     Bebida      5       Agua
1   2   10.00  Alimentos      8       Sopa
2   3   12.50   Dulceria      4    Paletas
3   4   20.10    Lacteos      3      Leche
4   5   35.50   Verduras      9  Zanahoria

In [18]:
data2 = pd.read_excel('Excel_con_pandas.xlsx', sheet_name = 'Categorias')
data2.tail()

   id  Precio    Categoria  Stock     Nombre
5   6    51.5         Ropa     10   Pantalos
6   7    45.3        Tacos     20    Suadero
7   8     8.2       Frutas      8       Pera
8   9  2550.5  Electronica      9     Mobile
9  10   100.0      Blancos     10  Almohadas

## More

In [1]:
print('WTF')

WTF

## More

In [ ]:
print('WTF')

## More

In [19]:
print('hey')

hey